doctype
html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css')
    link(rel="stylesheet", href='/style.css')
  body
    header
      h1 QIKlaxonBot
      nav: ul
        li: a(href="https://www.reddit.com/r/QIKlaxonBot") /r/QIKlaxonBot
    block content
