extends layout

block content
  form(method="POST")
    label(for="subject") URL of post to watch
    input(name="subject",placeholder="https://reddit.com/r/...")
    label(for="phrase") Phrase to watch for
    input(name="phrase")
    button(type="submit") Add forfeit